#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# IntelliJ
**/.idea/*

# Build directory
**/compiled/*

# Node Modules
**/node_modules/*